<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724458690025-dtimmvj1748hv1huot5ojklg1nvqidge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724458690025-dtimmvj1748hv1huot5ojklg1nvqidge</string>
	<key>API_KEY</key>
	<string>AIzaSyAnETKLK0XE4TvJf1-l1xiADUSo3RmfW0A</string>
	<key>GCM_SENDER_ID</key>
	<string>724458690025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.armChats</string>
	<key>PROJECT_ID</key>
	<string>arm-chats</string>
	<key>STORAGE_BUCKET</key>
	<string>arm-chats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724458690025:ios:0e42ebca1ef5da5c316778</string>
</dict>
</plist>